
button {
    background-color: yellow;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    float: left;
    
}


.dice {
        width: 10em;
        height: 10em;
        margin: 1em;
        background-color: grey;
        float: left;
        text-align: center;
        margin:10px;
        border-radius: 25px;
        color: white;
        line-height: 10em;
}